/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*root*/

:root {
    --bg-black: #000000;
    --bg-grey: #222222;
    --bg-icon-grey: #626262;
    --text-white: #ffffff;
    --text-green: #4bc800;
    --text-red: #fa283b;
}

/*icons-svg*/

i {
    color: var(--text-white);
}

/*
<i class="fa-solid fa-table-cells"></i> --tablecells
<i class="fa-solid fa-maximize"></i> --maximize
<i class="fa-solid fa-microphone"></i> --mic
<i class="fa-solid fa-microphone-slash"></i> --micmuted
<i class="fa-solid fa-video"></i> --video
<i class="fa-solid fa-user-plus"></i> --invite
<i class="fa-solid fa-users"></i> --manage-partecipants
<i class="fa-solid fa-square-poll-vertical"></i> --polling
<i class="fa-solid fa-share-from-square"></i> --share-screen
<i class="fa-solid fa-comment"></i> --chat
<i class="fa-solid fa-record-vinyl"></i> --record
<i class="fa-solid fa-table-cells-large"></i> --breakout-rooms
<i class="fa-solid fa-ellipsis"></i> --more
<i class="fa-solid fa-chevron-up"></i> --arrow-up
*/

/*flex*/

.f-flex {
    display: flex;
}

.f-wrap {
    display: flex;
    flex-flow: row wrap;
}

.f-center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.f-end {
    justify-content: flex-end;
    align-items: flex-end;
}

.f-start {
    justify-content: flex-start;
    align-items: flex-start;
}

.align-self-center {
    align-self: center;
}

/*position*/

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-top-left {
    right: 0;
    top: 10px;
}

.p-down-right {
    left: 0;
    bottom: 20px;
}

.z-index-high {
    z-index: 3;
}

/*miscellaneous*/

.debug {
    border: 1px solid var(--bg-icon-grey);
}

h4 {
    font-size: 1rem;
    display: inline-block;
    color: var(--text-white);
}

h3 {
    font-size: 0.6rem;
    color: var(--text-white);
    text-align: center;
}

.d-inline-block {
    display: inline-block;
}

/*header*/

.container-a {
    background-color:var(--bg-black);
    width: 100%;
    padding: 30px 0;
}

.button-wrapper {
    width: 180px;
}

.button {
    padding: 5px;
    background-color: var(--bg-icon-grey);
    border-radius: 5px;
}

/*zoom-cells*/

.container-b {
    background-color: var(--bg-black);
    width: 100%;
    height: calc(100vh - 135px);
    padding: 20px 80px;
    overflow-x: hidden;
    overflow y: scroll;
}

.zoom-cell-wrapper {
    padding: 0 3px 10px 3px;
}

.zoom-cell {
    width: calc(100% / 7 - 34px);
}

div.zoom-cell>img {
    width: 13vw;
    height: 7vw;
    object-fit: cover;
}

.zoom-cell-icon {
    padding: 5px;
    background-color: rgba(59, 59, 59, 0.398);
}

/*footerbar*/


.container-c{
    background-color: var(--bg-grey);
    width: 100%;
}

.footer-icon-size {
    font-size: 1.5rem;
    padding: 10px 35px;
}

.footer-side-icons {
    width: 20%;
}

.footer-mid-icons {
    width: 60%;
}

#footer-end-meeting {
    background-color: var(--bg-icon-grey);
    padding: 30px 30px;
}

.text-green {
    color: var(--text-green);
}

.text-red {
    color: var(--text-red);
}